@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Đề thi chưa được mở</title>
</head>
<body>
    <h1>Đề thi chưa được mở</h1>
    <p>Vui lòng quay trở lại thi đúng ngày giờ mở đề thi !!!</p>
</body>
</html>