@model DAWeb3.Models.DeThi

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa Đề Thi</h1>

<h3>Bạn có chắc chắn muốn xóa đề thi này</h3>
<div>
    <h4>DeThi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ngày Thi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThi)
        </dd>
        <dt class = "col-sm-2">
            Giời gian thi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianThi) Phút
        </dd>
    
        <dt class = "col-sm-2">
            Tên Đề Thi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDeThi)
        </dd>
     
        <dt class = "col-sm-2">
            Người Tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiTaoNavigation.Hoten)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDeThi" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
